* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

body {
  background-color: wheat;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Quotes  */
.quotes {
  border: 1px solid rgb(146, 135, 212);
  padding: 10px;
  margin: 10px;
  margin-top: 100px;
  text-align: justify;
}
